# Configurações do Banco de Dados
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Configurações de E-mail
SMTP_SERVER=
SMTP_PORT=
SENDER_EMAIL=
SENDER_PASSWORD=

# Chave Secreta do Flask
SECRET_KEY=

# Chave da API
OPENAI_API_KEY=

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
JWT_SECRET=
GEMINI_API_KEY=